<div class="row mb-5">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card">

      <div class="card-header">
        <h3>List your Property</h3>
      </div>

      <div class="card-body">
        <form (ngSubmit)='onSubmit()' #Form="ngForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>

              <tab heading="Basic Info">
                <div class="form-group col-12 mt-3">
                  <p class="mt-3">I want to</p>
                  <div class="btn-group" btnRadioGroup>
                    <label class="btn btn-outline-primary me-2" btnRadio=1 role="button" name="SellRent">Sell</label>
                    <label class="btn btn-outline-primary" btnRadio=2 role="button" name="SellRent">Rent</label>
                  </div>
                </div>

                <div class="form-group col-12 mt-3">
                  <p class="mt-3">BHK (Bedrooms, Halls, Kitchens)</p>
                  <div class="btn-group" btnRadioGroup>
                    <label *ngFor="let bhk of [1,2,3,4]"
                    class="btn btn-outline-primary me-2" [btnRadio]="bhk" role="button" name="BHK">{{bhk}}</label>
                  </div>
                </div>

                <div class="form-group col-12 mt-3">
                  <p class="mt-3">Property Type</p>
                  <div class="btn-group" btnRadioGroup name="propType" [(ngModel)]="propertyView.Type">
                    <label *ngFor="let pType of propertyTypes"
                    class="btn btn-outline-primary me-2" [btnRadio]="pType" role="button" name="PropertyType">{{pType}}</label>
                  </div>
                </div>

                <div class="form-group col-12 mt-3">
                  <p class="mt-3">Furnish Type</p>
                  <div class="btn-group" btnRadioGroup>
                    <label *ngFor="let fType of furnishTypes"
                    class="btn btn-outline-primary me-2" [btnRadio]="fType" role="button" name="FurnishType">{{fType}}</label>
                  </div>
                </div>

                <div class="form-group col-12 mt-3">
                  <label>in Building/Society/Project</label>
                  <input type="text" class="form-control" #propName="ngModel" ngModel name="Name" required minlength="5" [(ngModel)]="propertyView.Name">
                  <span *ngIf="!propName.valid && propName.touched" class="error-block">
                    <span *ngIf="propName.errors?.['required']">Please provide name</span>
                    <span *ngIf="propName.errors?.['minlength']">Name must be atleast 5 characters</span>
                  </span>
                </div>

                <div class="form-group col-12 mt-3">
                  <label>City</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12 mt-5" style="text-align: center;">
                  <button type="button" (click)="selectTab(1)" class="btn btn-primary col-10 me-2">Next</button>
                </div>
              </tab>

              <tab heading="Pricing and Area">
                <div class="form-group col-12 mt-3">
                  <label>Price (in USD)</label>
                  <input type="text" class="form-control" name="Price" [(ngModel)]="propertyView.Price">
                </div>

                <div class="form-group col-12 mt-3">
                  <label>Security (in USD)</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12 mt-3">
                  <label>Maintenance (in USD)</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12 mt-3">
                  <label>Built Area (in Sq Feet)</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12 mt-3">
                  <label>Carpet Area (in Sq Feet)</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12 mt-5" style="text-align: center;">
                  <button type="button" (click)="selectTab(0)" class="btn btn-secondary col-5 me-2">Back</button>
                  <button type="button" (click)="selectTab(2)" class="btn btn-primary col-5 me-2">Next</button>
                </div>
              </tab>

              <tab heading="Address">
                <div class="form-group col-12 mt-3">
                  <label>Floor</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12 mt-3">
                  <label>Total Floors</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12 mt-3">
                  <label>Address</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12 mt-3">
                  <label>Landmark</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12 mt-5" style="text-align: center;">
                  <button type="button" (click)="selectTab(1)" class="btn btn-secondary col-5 me-2">Back</button>
                  <button type="button" (click)="selectTab(3)" class="btn btn-primary col-5 me-2">Next</button>
                </div>
              </tab>

              <tab heading="Other Details">
                <div class="form-group col-12 mt-3">
                  <label>Ready to Move</label><br/>
                  <input type="radio" id='Yes' value='1' name="RTM">
                  <label class="m-2">Yes</label>

                  <input type="radio" id="No" value='2' name="RTM">
                  <label class="m-2">No</label>
                </div>

                <div class="form-group col-3 mt-3">
                  <label>Possession/Available From</label>
                  <input placeholder="Select" class="form-control" bsDatepicker [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY'}">
                </div>

                <div class="form-group col-12 mt-3">
                  <label>Age of Property</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-12 mt-3">
                  <p class="mt-3">Gated Community</p>
                  <div class="btn-group" btnRadioGroup>
                    <label *ngFor="let option of ['Yes', 'No']"
                    class="btn btn-outline-primary me-2" [btnRadio]="option" role="button" name="GatedCommunity">{{option}}</label>
                  </div>
                </div>

                <div class="form-group col-12 mt-3">
                  <p class="mt-3">Main Entrance</p>
                  <div class="btn-group" btnRadioGroup>
                    <label *ngFor="let direction of ['East', 'West', 'South', 'North']"
                    class="btn btn-outline-primary me-2" [btnRadio]="direction" role="button" name="MainEntrance">{{direction}}</label>
                  </div>
                </div>

                <div class="form-group col-12 mt-3">
                  <label>Description</label>
                  <textarea type="text" class="form-control" rows="6"></textarea>
                </div>

                <div class="form-group col-12 mt-5" style="text-align: center;">
                  <button type="button" (click)="selectTab(2)" class="btn btn-secondary col-5 me-2">Back</button>
                  <button type="button" (click)="selectTab(4)" class="btn btn-primary col-5 me-2">Next</button>
                </div>
              </tab>

              <tab heading="Photos">
                <div class="form-group col-12 mt-3">
                  <div class="photo-control">
                      <button class="mt-5" type="button">Upload</button> <br>
                      This is under construction
                  </div>
                </div>

                <div class="form-group col-12 mt-5" style="text-align: center;">
                  <button type="button" (click)="selectTab(3)" class="btn btn-secondary col-3 me-2">Back</button>
                  <button type="reset" class="btn btn-danger col-3 me-2">Cancel</button>
                  <button type="submit" class="btn btn-success col-3">Save</button>
                </div>
              </tab>

            </tabset>
          </div>
        </form>
      </div>

    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <h3>Your Property Preview</h3>
      </div>
      <div class="card-body shadow-lg p-3 bg-white">
        <app-property-card [property]="propertyView" [hideIcons]="true"></app-property-card>
      </div>
    </div>
  </div>
</div>

